<div class="grid grid-cols-1 md:grid-cols-[1fr_3fr] grid-rows-[auto_1fr_auto] h-screen gap-4 p-4">
    <header class="md:col-span-2 border border-dashed border-rose-400 p-2">
      <app-header></app-header>
    </header>
  
    <aside class="hidden md:block border border-dashed border-rose-400 p-2">
      <app-following></app-following>
    </aside>
  
    <main class="border border-dashed border-rose-400 overflow-auto p-2">
      <router-outlet></router-outlet>
    </main>
  
    <aside class="hidden md:block border border-dashed border-rose-400 p-2">
      <app-followers></app-followers>
    </aside>
  
    <footer class="md:col-span-2 border border-dashed border-rose-400 p-2">
      <app-footer></app-footer>
    </footer>
  </div>
  