html ,body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

.container {
    margin: 0 ;
height: 100%;
border: 1px solid #000;
box-sizing: border-box;
}

.container > * {
  border: 1px solid #000; 
}

/* grid syling */

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 70% 10%;

}

header ,footer {
    grid-column: span 6;
flex-direction: column;
justify-content: center;
  }
 main {
    grid-column: span 4;
 }