<div class="profile p-4">
  <!-- Loading State -->
  <ng-container *ngIf="loading">
    <div class="text-center py-4 text-gray-600">Loading...</div>
  </ng-container>

  <!-- Error Message -->
  <ng-container *ngIf="error">
    <div class="error text-red-500 text-center py-2">Error: {{ error }}</div>
  </ng-container>

  <!-- Posts List using PostComponent -->
  <ng-container *ngIf="!loading && posts.length > 0">
    <ng-container *ngFor="let post of posts">
      <app-post 
        [post]="post" 
        (delete)="handleDelete($event)" 
        (update)="handleUpdate(post, $event)">
      </app-post>
    </ng-container>
  </ng-container>

  <!-- No Posts Message -->
  <ng-container *ngIf="!loading && posts.length === 0">
    <div class="text-center text-gray-600">No posts found. Create your first post!</div>
  </ng-container>
</div>
